@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  font-family: "Poiret One", cursive;
  /* font-weight: bolder;
  font-style: normal; */
}
body {
  /* background: conic-gradient(from -90deg at top left, black, white); */
  background: conic-gradient(
    from 90deg at 25% -10%,
    #ff4500,
    #d3f340,
    #7bee85,
    #afeeee,
    #7bee85
  ) !important;
  overflow: hidden;
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.1);
}
.clock h1 {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}
